<div class="login" id="login">
<div class="bg-color">
        <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                      
                      <a class="navbar-brand" href="#"><img src="../../assets/img/f.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                    </div>
                    <div class="col-md-12 col-sm-4 col-xs-12">
                      <h2 class="head-title lg-line">S'INSCRIRE</h2>                      
                  </div> 
                  </div>
            
           <form [formGroup]="inscritsaveform">
                        
                          <div class="form-group">
                                <input type="text" formControlName="username" class="form-control" placeholder="username">
                              </div>
                                <div class="form-group">
                                  <input type="text" formControlName="adresse" class="form-control" placeholder="Adresse">                                
                                </div>
                                  <div class="form-group">
                                <input type="text"  formControlName="tel" class="form-control" placeholder="tel">
                              </div>
                              <div class="form-group">
                                <input type="email"  formControlName="email" class="form-control" placeholder="email">
                              </div>
                                <div class="form-group">
                                <input type="password"  formControlName="password" class="form-control" placeholder="password">
                              </div>
                              <div class="button">
                                <input type="submit" (click)="saveinscrit()" value="Inscription">
                              </div>
                    </form>
                  </div> 
</div>
</div>