
<div class="container" id="about" class="section-padding">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="section-title">
              <h2 class="head-title lg-line">S'INSCRIRE</h2>
              <hr class="botm-line">
            </div>
          </div>
               
          <div class="form-group">
            <input type="text" name="name" class="form-control br-radius-zero"  placeholder="Your Name"  />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control br-radius-zero" name="Password" placeholder="Your Password"   />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="text" name="name" class="form-control br-radius-zero"  placeholder="Your Adresse"  />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="entier" class="form-control br-radius-zero" name="tel" placeholder="Your Telephone Number"  />
            <div class="validation"></div>
          </div>
          <form>
                  
            <div>
              <input type="radio" 
               name="contact" value="email">
              <label for="contactChoice1">Client</label>
          
              <input type="radio"
               name="contact" value="telephone">
              <label for="contactChoice2">Ouvrier</label>
            </div>
          </form>
          <div class="row">
              <div class="col text-center">
            <button type="submit" class="btn btn-danger"  >Sign In </button>
        </div> </div>
        </div>
      </div>
    
      
      <div class="container" id="about" class="section-padding">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="section-title">
              <h2 class="head-title lg-line">SE CONNECTER</h2>
              <hr class="botm-line">
            </div>
          </div>     
          <div class="form-group">
            <input type="text" name="name" class="form-control br-radius-zero"  placeholder="Your Name"  />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control br-radius-zero" name="Password"  placeholder="Your Password"   />
            <div class="validation"></div>
          </div>

          <div class="row">
              <div class="col text-center">
            <button type="submit" class="btn btn-danger"  >Sign In </button>
        </div> </div>
  

        </div>
      </div>