<div class="container" id="service" class="section-padding">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h2 class="ser-title">Our Service</h2>
            <hr class="botm-line">
            <p>NOUS SOMMES LÀ POUR VOUS AIDER ET VOUS CONSEILLER AVANT, PENDANT ET APRÈS CHANTIER TOUT EN RESPECTANT LES CONTRAINTES TECHNIQUES, NOUS SUIVONS VOTRE PROJET JUSQU’À LA REMISE DES CLÉS.</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-info">
              <div class="icon">
                  <img src="../../assets/img/ELECTRICITE.jpg" alt="..." >
              </div>
              
              <div class="image">
                <h4>ELECTRICITE</h4>
                <p>chargé de la réalisation, de la maintenance, de la modification d'installations électriques. </p>
              </div>
            </div>
            <div class="service-info">
              <div class="icon">
                  <img src="../../assets/img/RENNOVATION.jpg" alt="..." >
              </div>
              <div class="icon-info">
                <h4>RENOVATION</h4>
                <p>La rénovation désigne l’amélioration d’un bâtiment ou d’une partie d’un bâtiment par l’utilisation de matériaux neufs en remplacement des plus anciens.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-info">
              <div class="icon">
                  <img src="../../assets/img/PLOMBIER.jpg" alt="..." >
              </div>
              <div class="icon-info">
                <h4>PLOMBIERIE</h4>
                <p>Un plombier  chargé de la réalisation ou de la réparation des installations de plomberie ; Il doit aussi déboucher les canalisations. Son outil traditionnel est la lampe à souder.</p>
              </div>
            </div>
            <div class="service-info">
              <div class="icon">
                  <img src="../../assets/img/PEINTRE.jpg" alt="..." >
              </div>
              <div class="icon-info">
                <h4>PEINTURE</h4>
                <p>Le peintre en bâtiment est celui qui apporte la touche finale à un chantier de construction ou de rénovation. Il recouvre d’un revêtement, en extérieur et à l'intérieur, murs et plafonds des maisons, des appartements, des magasins ou des bureaux.</p>
              </div>
            </div>
            <div class="service-info">
                <div class="icon">
                    <img src="../../assets/img/MACONORIE.jpg" alt="..." >
                </div>
                <div class="icon-info">
                  <h4>MACONNERIE</h4>
                  <p>Le maçon / maçonne exécute le gros œuvre pour des maisons individuelles, des immeubles, des industries ou des ouvrages d'art. Il/elle pose les fondations et monte les murs ou cloisons dans le cadre de constructions neuves ou de travaux d'entretien et de réhabilitation..</p>
                </div>
              </div>
              <div class="service-info">
                  <div class="icon">
                      <img src="../../assets/img/CHAUFFAGE.jpeg" alt="..." >
                  </div>
                  <div class="icon-info">
                    <h4>CHAUFFAGE</h4>
                    <p> installateur thermique pose et entretient des systèmes de chauffage, de climatisation et de ventilation.</p>
                  </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <img src="../../assets/img/ISOLATION.jpg" alt="..." >
                    </div>
                    <div class="icon-info">
                      <h4>ISOLATION</h4>
                      <p>Réalise l'étanchéité et l'isolation des toitures, des terrasses, des murs ou des façades d'immeubles d'habitation.</p>
                    </div>
                  </div>
                  <div class="service-info">
                      <div class="icon">
                          <img src="../../assets/img/MENUISERIE.jpg" alt="..." >
                      </div>
                      <div class="icon-info">
                        <h4>MENUISERIE</h4>
                        <p>Il réalise les portes, les fenêtres, les parquets et boiseries dans le bâtiment, les meubles et les sièges.</p>
                      </div>
                    </div>
          </div>
        </div>
      </div>